---
layout: archive
author_profile: true
---
<style>
  .sidebar.sticky {
    position: static !important;
  }
</style>
<div id="main" role="main">
  {% include sidebar.html %}

  <div class="post">

    <header class="post-header">
      <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
    {{ content }}
    </article>

      <!-- mathjax -->
      <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
  </div>
</div>